# Editor temporaries
*~
*.swp

# OSX dir files
.DS_Store

# Compiled python
*.pyc

# Pickle Files
*.pickle

# IPython notebook checkpoints
*/.ipynb_checkpoints
.vscode/*

# Inputs and Result Folders
data_files/*
clustering_plots/*
